
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-5-K1e {
  box-sizing: border-box;
  padding-right: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.macbook-pro-14-5-K1e .auto-group-zuou-qVn {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 2.1rem 4.1rem 2.1rem 2.3rem;
  height: 98.2rem;
  display: flex;
  align-items: flex-start;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-16-bg.png');
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zuou-qVn .image-20-k6x {
  margin-right: 50.8rem;
  width: 6.1rem;
  height: 7.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zuou-qVn .new-arrival-GLC {
  margin-top: 1.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja {
  margin-top: 1.8rem;
  width: 60.2rem;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .chuck-70-de-luxe-squared-rpC {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 {
  margin-bottom: 4.7rem;
  width: 51.5rem;
  height: 19.3rem;
  position: relative;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ {
  width: 39.7rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ-sub-0 {
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ-sub-1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ .mrp-5999-inclusive-of-all-taxes-unisex-high-top-shoe-JAQ-sub-3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-h1ef-yP2 .the-premium-chuck-70-gets-an-unexpected-update-with-an-angular-take-on-iconic-chuck-taylor-dna-HAk {
  width: 51.5rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 9.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-kl23-L92 {
  margin: 0rem 27.9rem 3.4rem 0rem;
  width: calc(100% - 27.9rem);
  display: flex;
  align-items: center;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-kl23-L92 .image-17-efW {
  margin-right: 4.3rem;
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-kl23-L92 .image-18-NrQ {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-gsqm-XDW {
  margin: 0rem 0rem 7.1rem 1.2rem;
  width: 59rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #fffbfb;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-gsqm-XDW .check-debit-card-cardless-emi-options-iYt {
  margin: 0rem 14.6rem 2.3rem 0rem;
  max-width: 44.4rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-gsqm-XDW .auto-group-qasb-12C {
  margin-left: 35.8rem;
  width: calc(100% - 35.8rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-gsqm-XDW .auto-group-qasb-12C .check-options-wRe {
  margin-right: 1rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-gsqm-XDW .auto-group-qasb-12C .image-19-SdJ {
  width: 2.9rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-vv3m-mvU {
  margin: 0rem 1.4rem 5.6rem 1.4rem;
  width: calc(100% - 2.8rem);
  height: 9.4rem;
  position: relative;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-vv3m-mvU .rectangle-7-u16 {
  width: 57rem;
  height: 9.4rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  background-color: #b2b1b1;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-vv3m-mvU .pick-a-size-EZA {
  width: 21.3rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  text-align: right;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-vv3m-mvU .icons8-plus-24-1-9AL {
  width: 4.1rem;
  height: 4.4rem;
  position: absolute;
  left: 52.4rem;
  top: 2.6rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-d1gb-esn {
  margin: 0rem 1.4rem 0rem 1.8rem;
  width: calc(100% - 3.2rem);
  height: 7.8rem;
  display: flex;
  align-items: center;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-d1gb-esn .auto-group-qkyb-mxQ {
  margin-right: 3rem;
  width: 21.8rem;
  height: 100%;
  text-align: right;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-d1gb-esn .auto-group-22xp-G8U {
  box-sizing: border-box;
  padding-left: 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-d1gb-esn .auto-group-22xp-G8U .add-to-cart-164 {
  margin: 0rem 3.1rem 0.1rem 0rem;
  cursor: pointer;
  text-align: right;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-d1gb-esn .auto-group-22xp-G8U .auto-group-smuy-WoW {
  box-sizing: border-box;
  padding: 1.2rem 1.3rem 1.5rem 1.4rem;
  height: 100%;
  background-color: #b2b1b1;
  flex-shrink: 0;
}
.macbook-pro-14-5-K1e .auto-group-zbwx-jja .auto-group-d1gb-esn .auto-group-22xp-G8U .auto-group-smuy-WoW .icons8-heart-50-1-qat {
  width: 5.8rem;
  height: 5.1rem;
  object-fit: cover;
  vertical-align: top;
}
