
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-6-Z8p {
  background-color: #ffffff;
  width: 100%;
  height: 100rem;
  position: relative;
  overflow: hidden;

  .auto-group-2j9y-5cx {
    align-items: flex-start;
    width: 147.6rem;
    height: 6.6rem;
    position: absolute;
    left: 1.3rem;
    top: 1.7rem;
    display: flex;

    .icons8-arrow-50-1-1-CxU {
      margin-right: 65.4rem;
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .cart-jSc {
      flex-shrink: 0;
      margin-right: 60.9rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
    }
    .icons8-shopping-cart-50-1-TtQ {
      margin-top: 0.6rem;
      width: 6.6rem;
      height: 5.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .rectangle-11-nfn {
    top: 8.8rem;
    background-color: #d9d9d9;
    width: 151.2rem;
    height: 5.9rem;
    position: absolute;
    left: 0;
  }
  .your-order-ships-for-free-ipL {
    height: 4rem;
    top: 16.8rem;
    font-weight: 400;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    width: 36.4rem;
    position: absolute;
    left: 1.3rem;
    font-size: 3rem;
    line-height: 1.3025;
  }
  .line-9-dRW {
    position: absolute;
    left: 0;
    top: 21.5rem;
    background-color: #3c7a17;
    width: 151.2rem;
    height: 0.8rem;
  }
  .line-10-NP6 {
    left: 0;
    top: 72.1rem;
    background-color: #000000;
    width: 153.5rem;
    height: 0.4rem;
    position: absolute;
  }
  .auto-group-wpkk-iC4 {
    width: 145rem;
    height: 27.1rem;
    position: absolute;
    left: 1.3rem;
    top: 23.7rem;
    display: flex;
    align-items: center;

    .image-20-Ew6 {
      flex-shrink: 0;
      width: 29.5rem;
      height: 27.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-fpuf-nSp {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.4rem 0rem 0.4rem 1.9rem;

      .auto-group-arto-W7v {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 21.2rem 9.9rem 0rem;
        display: flex;

        .chuck-70-de-luxe-squared-E3v {
          margin-bottom: 0.7rem;
          font-weight: 400;
          line-height: 1.3025;
          text-decoration-line: underline;
          white-space: nowrap;
          font-size: 3rem;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .size-6-uk-YaQ {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-enxz-HXz {
          height: 7.7rem;
          position: relative;
          flex-shrink: 0;
          width: 29.1rem;

          .mrp-8999-DgY {
            height: 4rem;
            font-size: 3rem;
            color: #000000;
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.3025;
            font-family: Inika, 'Source Sans Pro';
            width: 17.5rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .inclusive-of-all-taxes-QuS {
            position: absolute;
            left: 0;
            font-weight: 400;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            width: 29.1rem;
            height: 4rem;
            top: 3.7rem;
            font-size: 3rem;
            line-height: 1.3025;
          }
        }
      }
      .remove-from-cart-vMz {
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 12.7rem 5.2rem 0rem 0rem;
        font-size: 3rem;
        text-decoration-line: underline;
        color: #000000;
      }
      .auto-group-ihex-RpY {
        margin: 4.7rem 0rem 4.8rem 0rem;
        height: calc(100% - 9.5rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-21-YuA {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 1.2rem 0rem;
          width: 24.1rem;
          height: 11.6rem;
          object-fit: cover;
        }
        .save-for-later-UXv {
          text-decoration-line: underline;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.3025;
        }
      }
    }
  }
  .auto-group-dxis-Cyi {
    height: 10rem;
    position: absolute;
    top: 53.3rem;
    display: flex;
    align-items: center;
    background-color: #f2f0fd;
    box-sizing: border-box;
    width: 153.5rem;
    padding: 0rem 2.2rem 0rem 2.3rem;
    left: 0;

    .image-24-hvU {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 131.6rem;
      width: 11.3rem;
      height: 10rem;
    }
    .image-19-qmn {
      width: 6.1rem;
      height: 7.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
    }
  }
  .auto-group-civ5-N12 {
    box-sizing: border-box;
    padding: 2.1rem 4.2rem 1.8rem 2.7rem;
    height: 27.5rem;
    flex-direction: column;
    display: flex;
    width: 151.2rem;
    position: absolute;
    left: 0;
    top: 72.5rem;
    align-items: flex-end;

    .auto-group-m52o-FKi {
      margin: 0rem 0.5rem 1.6rem 0rem;
      width: calc(100% - 0.5rem);
      height: 7.9rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-ezfz-xjv {
        flex-shrink: 0;
        margin-right: 115.3rem;
        width: 15.8rem;
        height: 100%;
        position: relative;

        .subtotal-7Mv {
          width: 11.5rem;
          height: 4rem;
          left: 0;
          font-size: 3rem;
          font-weight: 400;
          position: absolute;
          top: 3.9rem;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
        .price-detail-2Dz {
          width: 15.8rem;
          left: 0;
          color: #000000;
          font-weight: 400;
          line-height: 1.3025;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          height: 4rem;
          position: absolute;
          top: 0;
          font-size: 3rem;
        }
      }
      .auto-group-pzcs-93i {
        width: 12.7rem;
        height: 7.5rem;
        position: relative;
        flex-shrink: 0;

        .item-899900-5i4 {
          font-size: 3rem;
          font-weight: 400;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          width: 12.7rem;
          height: 4rem;
        }
        .item-899900-o8G {
          font-family: Inika, 'Source Sans Pro';
          width: 12.7rem;
          left: 0;
          font-size: 3rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          height: 4rem;
          position: absolute;
          top: 3.5rem;
          line-height: 1.3025;
        }
      }
    }
    .auto-group-y5s7-hjS {
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      font-weight: 400;
      white-space: nowrap;
      height: 6.6rem;
      font-size: 3.6rem;
      background-color: #f2f0fd;
      width: 100%;
      line-height: 1.3025;
    }
    .auto-group-qrf5-o1n {
      margin-left: 56.2rem;
      width: calc(100% - 56.2rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .edit-shopping-bag-wNt {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 51.9rem;
        font-size: 3.8rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .image-25-UNp {
        vertical-align: top;
        flex-shrink: 0;
        width: 4.2rem;
        height: 6.3rem;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
  .estimated-total-mmE {
    width: 21.6rem;
    height: 4rem;
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    white-space: nowrap;
    left: 2.3rem;
    top: 66.5rem;
    line-height: 1.3025;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
  }
}
