
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-3-kJx {
  width: 100%;
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-qzn7-suN {
    display: flex;
    align-items: flex-end;
    width: 110.4rem;
    height: 30.5rem;
    position: absolute;
    left: 3.2rem;
    top: 0.1rem;

    .auto-group-pzyd-bqN {
      margin-right: 11.4rem;
      width: 81.1rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .sign-up-wPS {
        top: 0;
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.3025;
        width: 23.9rem;
        height: 7.9rem;
        position: absolute;
        left: 56.7rem;
        font-family: Inika, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
      }
      .become-a-converse-member-to-get-more-3SU {
        height: 5.3rem;
        top: 5.9rem;
        font-size: 4rem;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        width: 75.2rem;
        position: absolute;
        left: 0.3rem;
        line-height: 1.3025;
        color: #000000;
      }
      .the-first-step-to-unlocking-all-the-perks-enter-your-email-address-below-LgU {
        position: absolute;
        left: 0;
        top: 10.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        width: 79.9rem;
        height: 3.2rem;
        line-height: 1.3025;
        color: #000000;
        white-space: nowrap;
      }
      .image-3-prY {
        height: 11.4rem;
        position: absolute;
        left: 39.6rem;
        top: 13.9rem;
        object-fit: cover;
        vertical-align: top;
        width: 13.5rem;
      }
      .image-4-MLg {
        position: absolute;
        left: 65.6rem;
        top: 13.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 15.1rem;
        height: 12.7rem;
      }
      .free-shipping-returns-sK2 {
        position: absolute;
        left: 36.6rem;
        top: 24.2rem;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        width: 17.9rem;
        height: 6.3rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .exclusive-offers-NFn {
        width: 17.9rem;
        position: absolute;
        top: 24.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        height: 3.2rem;
        left: 63.2rem;
        font-size: 2.4rem;
        line-height: 1.3025;
        white-space: nowrap;
      }
    }
    .auto-group-n7h9-Upc {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .image-5-qQG {
        margin: 0rem 1.5rem 0.7rem 0rem;
        width: 11rem;
        height: 7.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .better-shopping-experience-Lrp {
        max-width: 17.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .auto-group-yhfm-3mE {
    height: 0.1rem;
    position: absolute;
    left: 17.7rem;
    top: 43.3rem;
    border-top: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 113.4rem;
  }
  .auto-group-4mcb-kfe {
    display: flex;
    align-items: center;
    width: 83.9rem;
    height: 3.2rem;
    position: absolute;
    left: 18.1rem;
    top: 37.1rem;

    .first-name-6Di {
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 59.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .last-name-cxk {
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
  .auto-group-udjv-kZA {
    left: 17.7rem;
    top: 46.7rem;
    display: flex;
    align-items: center;
    width: 79.4rem;
    height: 3.4rem;
    position: absolute;

    .email-gSp {
      flex-shrink: 0;
      margin: 0rem 65.3rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
    }
    .mobile-p3E {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.2rem;
      font-size: 2.4rem;
    }
  }
  .auto-group-mhzf-XyE {
    display: flex;
    align-items: flex-start;
    width: 40.9rem;
    height: 7.5rem;
    position: absolute;
    left: 17.7rem;
    top: 57.4rem;

    .password-U7n {
      margin-right: 25.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .image-6-nuA {
      margin-top: 3.1rem;
      width: 4.6rem;
      height: 4.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-aa8w-XLx {
    left: 17.7rem;
    top: 53.6rem;
    border-top: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 118.7rem;
    height: 0.1rem;
    position: absolute;
  }
  .auto-group-ddod-2Hi {
    box-sizing: border-box;
    width: 112.4rem;
    height: 0.1rem;
    position: absolute;
    left: 18.1rem;
    top: 65.9rem;
    border-top: solid 0.1rem #000000;
  }
  .auto-group-v8eb-8Lk {
    height: 7.4rem;
    position: absolute;
    font-family: Inika, 'Source Sans Pro';
    display: flex;
    justify-content: center;
    background-color: #000000;
    left: 42.1rem;
    top: 83.1rem;
    font-size: 4rem;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
    align-items: center;
    width: 66.8rem;
    line-height: 1.3025;
  }
  .auto-group-hys5-oBz {
    align-items: center;
    width: 52.2rem;
    height: 5.5rem;
    position: absolute;
    left: 17.7rem;
    top: 75.6rem;
    display: flex;

    .image-7-j5e {
      margin-right: 2.3rem;
      width: 4.5rem;
      height: 5.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .subscribe-to-news-and-updates-fV6 {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      font-size: 3.2rem;
    }
  }
  .confirm-password-arx {
    position: absolute;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    width: 21.4rem;
    left: 41.3rem;
    top: 68.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3025;
    height: 3.2rem;
  }
}
