
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-2-C1z {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 120rem;

  .sign-in-WYU {
    top: 2.2rem;
    height: 7.9rem;
    position: absolute;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.3025;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    width: 23rem;
    left: 64.1rem;
  }
  .sign-in-to-access-your-chuck-taylor-member-perks-CAQ {
    left: 5.7rem;
    top: 11.7rem;
    font-size: 6rem;
    font-weight: 400;
    color: #000000;
    width: 141.1rem;
    height: 7.9rem;
    position: absolute;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-y5kt-fpg {
    left: 20.9rem;
    top: 25.7rem;
    display: flex;
    align-items: flex-end;
    width: 114.1rem;
    height: 29.9rem;
    position: absolute;

    .auto-group-tbhh-PEt {
      width: 29.8rem;
      height: 28.7rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 9.7rem;

      .image-3-vkc {
        left: 4.5rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 20rem;
        height: 20rem;
        position: absolute;
      }
      .free-shipping-returns-fCQ {
        font-size: 4rem;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        width: 29.8rem;
        height: 10.5rem;
        position: absolute;
        left: 0;
        top: 18.2rem;
        font-weight: 400;
        line-height: 1.3025;
      }
    }
    .auto-group-vlab-a4U {
      width: 29.7rem;
      height: 24.7rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 14rem 5.2rem 0rem;

      .image-4-tL4 {
        height: 22.4rem;
        position: absolute;
        left: 3.7rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22.4rem;
      }
      .exclusive-offers-pzQ {
        position: absolute;
        left: 0;
        font-size: 4rem;
        line-height: 1.3025;
        color: #000000;
        width: 29.7rem;
        height: 5.3rem;
        top: 19.4rem;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-ogpw-jLg {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .image-5-h2c {
        margin: 0rem 6.5rem 1.3rem 0rem;
        width: 16.4rem;
        height: 13.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .better-shopping-experience-24t {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 30.9rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
    }
  }
  .email-address-KZn {
    position: absolute;
    left: 3.8rem;
    color: #000000;
    width: 25.9rem;
    top: 58.1rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.3025;
    font-family: Inika, 'Source Sans Pro';
    white-space: nowrap;
    height: 5.3rem;
  }
  .auto-group-vwap-bXJ {
    width: 139.7rem;
    height: 8.7rem;
    position: absolute;
    left: 3.2rem;
    top: 70.7rem;
    display: flex;
    align-items: flex-end;

    .password-XA4 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 115rem 3.4rem 0rem;
    }
    .image-6-eEg {
      width: 7rem;
      height: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .line-1-nbn {
    position: absolute;
    left: 3.2rem;
    top: 82.4rem;
    background-color: #000000;
    width: 141.3rem;
    height: 0.1rem;
  }
  .auto-group-6e9v-j1E {
    width: 102rem;
    height: 14.5rem;
    position: absolute;
    left: 42.5rem;
    top: 83.3rem;
    display: flex;
    align-items: flex-start;

    .auto-group-qlik-rbe {
      margin: 4.8rem 14.8rem 0rem 0rem;
      height: 9.7rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      width: 54.5rem;
      font-weight: 400;
      font-size: 6rem;
      line-height: 1.3025;
      color: #000000;
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-family: Inika, 'Source Sans Pro';
      justify-content: center;
    }
    .forgot-password-iNx {
      line-height: 1.3025;
      text-decoration-line: underline;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
    }
  }
  .auto-group-cu3q-3w2 {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: Inika, 'Source Sans Pro';
    top: 102.8rem;
    color: #000000;
    white-space: nowrap;
    height: 9.7rem;
    left: 42.5rem;
    font-weight: 400;
    line-height: 1.3025;
    justify-content: center;
    background-color: #d9d9d9;
    width: 54.5rem;
    font-size: 6rem;
  }
  .line-2-vzp {
    background-color: #000000;
    width: 141.3rem;
    height: 0.1rem;
    position: absolute;
    left: 3.5rem;
    top: 69.7rem;
  }
  .line-3-Tjr {
    width: 141.3rem;
    height: 0.1rem;
    position: absolute;
    left: 3.5rem;
    top: 99.6rem;
    background-color: #000000;
  }
  .line-4-oYp {
    width: 141.3rem;
    height: 0.1rem;
    position: absolute;
    left: 3.5rem;
    top: 115.6rem;
    background-color: #000000;
  }
}
